<!--
// Example:
//
// <nav class="nav">
//   <ul class="menu">
//     <li class="menu-item">
//       <a href="/path/to/.../">...</a>
//     </li>
//     <li class="menu-item">
//       <a href="/path/to/.../">...</a>
//     </li>
//     <li class="menu-item has-children">
//       <a href="/path/to/.../">...
//         <span class="dropdown-icon"></span>
//       </a>
//       <ul class="sub-menu">
//         <li class="menu-item">
//           <a href="/path/to/.../">...</a>
//         </li>
//         <li class="menu-item">
//           <a href="/path/to/.../">...</a>
//         </li>
//       </ul>
//     </li>
//     <li class="menu-item">
//       <a href="/path/to/.../">...</a>
//     </li>
//   </ul>
// </nav>
-->

<nav class="nav">
	<ul class="menu">
		{% for item in site.data.navigation %}
			{% if item.link == "/cases/" %}
		    	<li class="menu-item has-children">
		    		<a href="/cases/" {% if page.url == item.link %}style="color: black;"{% endif %}> 
						Cases <span class="dropdown-icon"></span>
					</a>
   					<ul class="sub-menu">
				    	{% for p in site.pages | reverse %}
		    				{% if p.url contains "/cases/" and p.url != "/cases/" %}
		    					<li class="menu-item">
			    					<a href="{{ p.url }}" {% if page.url == p.url %}style="color: black;"{% endif %}>
			    						{{ p.title }}
			    					</a>
			    				</li>
			    			{% endif %}
			    		{% endfor %}
			    	</ul>
		    	</li>
			{% elsif item.link == "/blog/" %}
		    	<li class="menu-item has-children">
		    		<a href="/blog/" {% if page.url == item.link %}style="color: black;"{% endif %}> 
						Blog <span class="dropdown-icon"></span>
					</a>
   					<ul class="sub-menu">
						{% for post in site.posts %}
							{% if forloop.index <= 5 %}
							    <li class="menu-item">
							        <a href="{{ post.url | prepend: site.baseurl }}" {% if page.url == post.url %}style="color: black;"{% endif %}>{{ post.title }}</a>
							    </li>
							{% endif %}
						{% endfor %}
			    	</ul>
		    	</li>
			{% else %}
				<li class="menu-item">
					<a href="{{ item.link }}" {% if page.url == item.link %}style="color: black;"{% endif %}>
						{{ item.name }}
					</a>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
</nav>

<!--
Cases
=====
{% for p in site.pages | reverse %}
    {% if p.url contains "/cases/" and p.url != page.url %}
[{{ p.title }}]({{p.url}})
-------------------------------------
{{ p.excerpt }}
    {% endif %}
{% endfor %}
-->