<!-- Header -->
<header id="header">
{% if page.url != "/" %}
    {% if page.url != "/blog/" and page.layout == "post" %}
    <span class="logo"><a href="/">Home</a> / <a href="/blog/">Blog</a> / {{ page.title | capitalize }}</span>
    {% elsif page.url contains "/cases/" and page.url != "/cases/" %}
    <span class="logo"><a href="/">Home</a> / <a href="/cases/">Cases</a> / {{ page.title | capitalize }}</span>
    {% elsif page.url contains "/faq/" and page.url != "/faq/" %}
    <span class="logo"><a href="/">Home</a> / <a href="/faq/">FAQ</a> / {{ page.title | capitalize }}</span>
    {% else %}
    <span class="logo"><a href="/">Home</a> / {{ page.title | capitalize }}</span>
    {% endif %}
{% endif %}
    <nav><a href="#menu">Menu</a></nav>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a href="/">Home</a></li>
        <li><a href="cases">Cases</a></li>
        <li><a href="blog">Blog</a></li>
        <li><a href="over-ons">Over ons</a></li>
        <li><a href="faq">FAQ</a></li>
        <li><a href="faq/15-helpen/">Helpen?</a></li>
        <li><a href="feed.xml">RSS</a></li>
        <li><a href="contact">Contact</a></li>
    </ul>
</nav>
